<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->
    <!--<p>-->
    <!--  {{ site.description }}-->
    <!--</p>-->
<a href="https://www.youtube.com/channel/UC1ghrNX4TWEidknjzgnCKRA/featured" target="_blank"><i class="fab fa-youtube"></i>&nbspYouTube </a>&nbsp
<a href="https://www.facebook.com/Beau4.music/" target="_blank"><i class="fab fa-facebook"></i>&nbspFacebook </a>&nbsp
<a href="https://www.instagram.com/beau4.music/" target="_blank"><i class="fab fa-instagram"></i>&nbspInstagram </a>
  </div>

</footer>
